[submodule "Zeepkist.WorkshopApi.Drone"]
	path = Zeepkist.WorkshopApi.Drone
	url = git@github.com:tnrd-org/Zeepkist.WorkshopApi.Drone.git
[submodule "Zeepkist.WorkshopApi.Backend"]
	path = Zeepkist.WorkshopApi.Backend
	url = git@github.com:tnrd-org/Zeepkist.WorkshopApi.Backend.git
[submodule "Zeepkist.WorkshopApi.Database"]
	path = Zeepkist.WorkshopApi.Database
	url = https://github.com/tnrd-org/Zeepkist.WorkshopApi.Database.git
[submodule "Zeepkist.WorkshopApi.Backend.JsonApi"]
	path = Zeepkist.WorkshopApi.Backend.JsonApi
	url = https://github.com/tnrd-org/Zeepkist.WorkshopApi.Backend.JsonApi.git
